body {
  font-family: Arial, sans-serif;
  background-color: rgb(46, 46, 46);
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#messageContainer {
  border: 1px solid #ccc;
  padding: 10px;
  height: 200px;
  overflow-y: scroll;
  color: white;
}
